@model AdminProductsDTO
@{
    ViewData["Title"] = "ADMIN Products";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" />
}

<partial name="_MenuAdminPartial" />
<div class="content">
    <div class="border rounded p-3">
        <h5 class="my-4">Продукти</h5>
        <p>Преглед на всички продукти и избор на продукт за редактиране</p>
        <hr />
                @if (Model.Products.Count() == 0)
        {
        <div class="text-center mt-5">
        <h5>Нямате продукти</h5>
        <a asp-controller="" asp-action="Index" class="btn btn-sm">Добавете продукт</a>
        </div>
        }
        else
        {
            <div class="row m-3">
                <div class="col-2"><strong>Снимка</strong></div>
                <div class="col-1">
                    <p class="mb-0"><strong>Номер</strong></p>
                       <a asp-area="Admin" 
                       asp-controller="Products" 
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.IdAsc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                        class="text-decoration-none text-primary">
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.IdDesc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
                <div class="col-4">
                    <p class="mb-0"><strong>Продукт</strong></p>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.NameAsc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                            <i class="fa fa-angle-down"></i>
                        </a>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.NameDesc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                            <i class="fa fa-angle-up"></i>
                        </a>
                </div>
                <div class="col-1">
                    <p class="mb-0"><strong>Цена</strong></p>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.PriceDesc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.PriceDesc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
                <div class="col-1">
                    <p class="mb-0"><strong>Наличност</strong></p>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.QuantityAsc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.QuantityDesc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
                <div class="col-1">
                    <p class="mb-0"><strong>Статус</strong></p>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.IsShowAsc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <a asp-area="Admin"
                       asp-controller="Products"
                       asp-action="Index"
                       asp-route-productSortType="@(ProductSortType.IsShowDesc)"
                       asp-route-search="@Model.Search"
                       asp-route-currentPage="@Model.CurrentPage"
                       class="text-decoration-none text-primary">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
                <div class="col-2">
                    <!-- Pagination Start -->
                    @{
                        var maxPage = Math.Ceiling((double)Model.TotalProductsCount /
                        Model.ProductsPerPage);

                        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                        !Model.Products.Any();
                    }

                    <div class="d-flex justify-content-center">
                        <a class="nav-link text-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                           asp-area="Admin"
                           asp-controller="Products"
                           asp-action="Index"
                           asp-route-orderSortType="@Model.ProductSortType"
                           asp-route-search="@Model.Search"
                           asp-route-currentPage="@(Model.CurrentPage - 1)"><i class="fa-solid fa-arrow-left-long" style="font-size: 24px;"></i></a>

                        <a class="nav-link text-primary @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                           asp-area="Admin"
                           asp-controller="Products"
                           asp-action="Index"
                           asp-route-orderSortType="@Model.ProductSortType"
                           asp-route-search="@Model.Search"
                           asp-route-currentPage="@(Model.CurrentPage + 1)"><i class="fa-solid fa-arrow-right-long ms-3" style="font-size: 24px;"></i></a>
                    </div>
                    <!-- Pagination End -->
                    <a asp-area="Admin" asp-controller="Details" asp-action="Add" 
                       class="nav-link text-primary">
                        Добави продукт <i class="fa-regular fa-square-plus"></i>
                    </a>
                </div>
            </div>
            @foreach (var product in Model.Products)
            {
                <div class="row m-3" style=@(product.IsShow ? "" : "opacity:0.7")>
                    <hr />
                    <div class="col-2">
                            <img src="@product.ImagePath"
                                 style="max-width: 100%; height: 100px; object-fit: cover;" />
                    </div>
                    <div class="col-1">#@product.Id</div>
                    <div class="col-4">
                            @product.Name
                    </div>
                    <div class="col-1">@product.Price</div>
                    <div class="col-1">@product.Quantity</div>
                    <div class="col-1">
                        @if (product.IsShow)
                        {
                            <i class="fa-regular fa-eye"></i>
                        }
                        else
                        {
                            <i class="fa-regular fa-eye-slash"></i>
                        }
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <a asp-area="Admin" asp-controller="Details" asp-action="Index" asp-route-id="@product.Id"
                               class="nav-link text-warning">
                                Редактирай <i class="fa fa-edit"></i>
                            </a>
                            <a asp-area="Admin" asp-controller="Details" asp-action="Add" asp-route-id="@product.Id"
                               class="nav-link text-primary mt-2">
                                Вземи като шаблон <i class="fa-regular fa-clone"></i>
                            </a>
                            @if (product.IsShow)
                            {
                                <a asp-area="Admin" asp-controller="Products" asp-action="ProductToShop" asp-route-id="@product.Id"
                                   class="nav-link text-secondary mt-2">
                                    Извади от магазина <i class="fa-regular fa-eye-slash"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-area="Admin" asp-controller="Products" asp-action="ProductToShop" asp-route-id="@product.Id"
                                   class="nav-link text-success mt-2">
                                    Добави в магазина <i class="fa-regular fa-eye"></i>
                                </a>
                            }
                            <a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id"
                               class="nav-link text-danger mt-2">
                                Изтриване <i class="fa fa-xmark"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>