@model HeaderComponentViewModel
@inject IViewLocalizer Localizer

<!-- Top Bar Start -->
<div class="text-center"
     style="
          background-color: rgb(var(--color_43));
          font-size: 13px;
          letter-spacing: 0.2em;
        ">
    <p class="mb-0">@Localizer["Free Delivery"]</p>
    <p class="mb-0">@Localizer["10% Discount"]</p>
</div>
<!-- Top Bar End -->

<div class="d-flex justify-content-between p-3">
    <div style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          ">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link @(ViewData["Title"] == "Home" ? "active" : "")"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Index">
                            @Localizer["HOME"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewData["Title"] == "Products" ? "active" : "")"
                           asp-area=""
                           asp-controller="Products"
                           asp-action="Index">
                            @Localizer["PRODUCTS"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewData["Title"] == "Ingredients" ? "active" : "")"
                           asp-area=""
                           asp-controller="Ingredients"
                           asp-action="Index">
                            @Localizer["INGREDIENTS"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewData["Title"] == "Skin" ? "active" : "")"
                           asp-area=""
                           asp-controller="Skin"
                           asp-action="Index">
                            @Localizer["ABOUT SKIN"]
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Navbar End -->
    </div>

    <!-- Brand Logo Start -->
    <a asp-controller="Home">
        <img class="logo-img"
             src="~/files/index/lils-care.jpg"
             alt=""
             width="83px"
             height="65px"
             style="object-fit: cover" />
    </a>
    <!-- Brand Logo End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left:200px">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <!-- User Account Start -->
                <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown">
                        @if (Model.UserImagePath != null)
                        {
                            <img src="@Model.UserImagePath" alt="User Image" class="rounded-circle" style="width: 30px; height: 30px" />
                        }
                        else
                        {
                            <i class="fa fa-circle-user fs-1"></i>
                        }
                    </a>
                    <div class="dropdown-menu m-0 rounded-0">
                        <a class="dropdown-item" asp-controller="Account" asp-action="MyOrders">@Localizer["My Orders"]</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="MyAddresses">@Localizer["My Addresses"]</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="MyWishes">@Localizer["My Wishes"]</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="MyAccount">@Localizer["My Account"]</a>
                        <hr class="dropdown-divider" />
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button class="dropdown-item" type="submit">@Localizer["Exit"]</button>
                        </form>
                    </div>
                </li>
                <!-- User Account End -->
            }
            else
            {
                <!-- Unlogin User Start-->
                <li class="nav-item">
                    <a class="nav-link py-2 px-0 px-lg-2"
                       asp-area="Identity" asp-page="/Account/Login">
                        <i class="fa fa-circle-user fs-4"></i>
                        <span style="margin-left: 10px">@Localizer["Login"]</span>
                    </a>
                </li>
                <!-- Unlogin User End -->
            }


            <!-- Shopping Bag Start -->
            <li class="nav-item">
                <a href="#"
                   class="position-relative nav-link my-auto"
                   data-bs-toggle="offcanvas"
                   data-bs-target="#shopping-bag">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 197.7 166"
                         width="42px"
                         height="35px">
                        <path fill="currentColor"
                              d="M197.9 55.9L169.9 127.4 64.5 127.4 27.6 29.8 0 29.8 0.2 16.7 36.5 16.7 73.4 114.3 160.9 114.3 183 55.9"></path>
                        <circle fill="currentColor"
                                cx="143.8"
                                cy="153"
                                r="13"></circle>
                        <circle fill="currentColor"
                                cx="90.8"
                                cy="153"
                                r="13"></circle>
                    </svg>
                    <span class="position-absolute d-flex px-1"
                          style="top: -5px; left: 23px; font-size: 16px">
                        @Model.CountInBag
                    </span>
                </a>
            </li>
            <!-- Shopping Bag End -->
            <!-- Language Localization Start -->
            <li class="nav-item dropdown">
                <a href="#"
                   class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   role="button"
                   aria-expanded="false">
                    <i class="fa-solid fa-language fs-1"></i>
                </a>
                <div class="dropdown-menu m-0 rounded-0 dropdown-menu-end">
                    @foreach (var culture in Model.Cultures.Keys)
                    {
                        <a class="dropdown-item"
                           asp-controller="Home"
                           asp-action="SetLanguage"
                           asp-route-culture="@culture"
                           asp-route-returnUrl="@Model.ReturnUrl">
                           @culture - @Model.Cultures[culture]
                        </a>
                    }
                </div>
            </li>
            <!-- Language Localization End -->
        </ul>
    </nav>
    <!-- Navbar End -->
</div>