@inject IViewLocalizer Localizer
@model ContactUsDTO
@{
}

<h2 class="h1">@Localizer["ASK US"]</h2>
<p class="fs-6 mb-0">
    @Localizer["about the products, personal suggestions or share an opinion. Your experience will always be most important to us."]
</p>
<div class="d-flex justify-content-center">
    <div style="width: 60%">
        <div>
            <input asp-for="FirstName" type="name"
                   class="form-control"
                   placeholder="@Localizer["First Name"]*"
                   name="FirstName" />
        </div>
        <span asp-validation-for="@Model.FirstName" class="text-danger" style="font-size: 12px"></span>
        <div class="px-0 my-3">
            <input asp-for="LastName" type="name"
                   class="form-control"
                   placeholder="@Localizer["Last Name"]"
                   name="LastName" />
        </div>
        <div>
            <input asp-for="EmailForResponse" 
                   class="form-control"
                   placeholder="@Localizer["Email"]*"
                   name="EmailForResponse" />
        </div>
        <span asp-validation-for="@Model.EmailForResponse" class="text-danger" style="; font-size: 12px"></span>
        <button type="submit"
                class="btn btn-primary mt-3"
                style="width: 100%">
                @Localizer["Send"]
        </button>
        <div class="form-check" style="font-size: 14px">
            <label class="form-check-label">
                <input asp-for="PrivacyPolicy" type="checkbox"
                       class="form-check-input"
                       name="PrivacyPolicy"
                       data-val="true"
                       data-val-mustbetrue="@Localizer["Confirm agreement with the privacy policy."]" />
                @Localizer["I agree"] с&nbsp;
                <a asp-controller="TermsConditions" style="color: rgb(var(--app-btn-bg))"
                   target="_blank">
                    @Localizer["the conditions"]
                </a>
            </label>
        </div>
        <span asp-validation-for="@Model.PrivacyPolicy" class="text-danger" style="font: var(--font_9); font-size: 12px"></span>
    </div>
    <div style="width: 40%; padding-left: 15px">
        <textarea asp-for="Message" class="form-control"
                  rows="9"
                  name="Message"
                  placeholder="@Localizer["Write a message..."]"></textarea>
        <span asp-validation-for="@Model.Message" class="text-danger" style="font-size: 12px"></span>
        <label for="comment"
               style="font-size: 14px">
                @Localizer["We send an email 1 to 2 times a month."]
        </label>
    </div>
</div>