@inject IViewLocalizer Localizer

@model SubscriberDTO
@{
}
<section id="add-to-subscribers" class="container w-50 text-center">
    <h3 class="h3">@Localizer["For the latest delights"]</h3>
 
        <div class="input-group">
        <input asp-for="EmailSubscriber" type="email"
                   class="form-control"
                   id="email"
               placeholder="@Localizer["Email..."]"
               name="EmailSubscriber" />
        <button type="submit" class="btn btn-lg">@Localizer["Sign me up!"]</button>
        </div>
    <span asp-validation-for="@Model.EmailSubscriber" class="text-danger" style="font-size: 12px"></span>
        <div class="form-check">
            <label class="form-check-label">
            <input asp-for="PrivacyPolicyCheckBox" type="checkbox" 
                   name="PrivacyPolicyCheckBox"
                   class="form-check-input"
                   data-val="true"
                   data-val-mustbetrue="@Localizer["Confirm agreement with the privacy policy."]" />
                <div class="d-flex justify-content-between">
                    <small>
                    @Localizer["I agree"]
                    <a asp-controller="TermsConditions"
                           target="_blank"
                       style="color: rgb(var(--app-btn-bg))">@Localizer["the conditions"]</a>
                    </small>
                <small style="margin-left: 120px">@Localizer["We send an email up to 1 time per month."]</small>
                </div>
            </label>
        </div>
    <span asp-validation-for="@Model.PrivacyPolicyCheckBox" class="text-danger" style="font-size: 12px"></span>
</section>