@inject IViewLocalizer Localizer
@model AddressOrderDTO
@{
    ViewData["Title"] = @Localizer["Addresses"];
}

<div class="d-flex justify-content-center">
    <!-- Menu My Account Start-->
    <partial name="_AccountMenuPartial" />
    <!-- Menu My Account  End -->
    <!-- New Address to Delivery Start -->
    <div class="border rounded p-2 w-50" style="margin: 50px 100px 20px 20px">

        <!-- Delivery Type Start -->
        <h5>@Localizer["Delivery method"]</h5>
        <a class="nav-link dropdown-toggle fs-6" href="#" role="button" data-bs-toggle="dropdown">
            @if (Model.DeliveryMethodId == 0)
            {
                @Localizer["No supplier selected..."]
            }
            else if (@Model.DeliveryMethodId == 1)
            {
                @Localizer["Delivery to courier office"]
            }
            else if (@Model.DeliveryMethodId == 2)
            {
                @Localizer["Delivery to customer address"]
            }
        </a>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="Account" asp-action="SelectDeliveryMethod" asp-route-deliveryMethodId=1 class="dropdown-item">
                    @Localizer["Delivery to courier office"]
                </a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="SelectDeliveryMethod" asp-route-deliveryMethodId=2 class="dropdown-item">
                    @Localizer["Delivery to customer address"]
                </a>
            </li>
        </ul>
        <hr/>
        <!-- Delivery Type End -->
            @if (Model.DeliveryMethodId == 1)
            {
                <partial name="_DeliveryToOfficePartial" model="@Model" />
            }
        else if (Model.DeliveryMethodId == 2)
            {
                <partial name="_DeliveryToAddressPartial" model="@Model" />
            }

</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
