@inject IViewLocalizer Localizer
@model DeliveryAddressesDTO
@{
    ViewData["Title"] = @Localizer["Addresses"];
}

<div class="d-flex justify-content-center">
    <!-- Menu My Account Start-->
    <partial name="_AccountMenuPartial" />
    <!-- Menu My Account  End -->
    <!-- New Address to Delivery Start -->
    <div class="border rounded p-2 w-50" style="margin: 50px 100px 20px 20px">

        <!-- Delivery Type Start -->
        <h5>@Localizer["Delivery method"]</h5>
        <a class="nav-link dropdown-toggle fs-6" href="#" role="button" data-bs-toggle="dropdown">
            @if(Model.DeliveryType() == null)
            {
                @Localizer["No supplier selected..."]
            }
            else 
            {
                if(@Model.DeliveryType() == Model.OfficeDeliveryType)
                {
                    @Localizer["Delivery to courier office"]
                }
                else if (Model.DeliveryType() == Model.AddressDeliveryType)
                {
                    @Localizer["Delivery to customer address"]
                }
            }
        </a>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="Account" asp-action="SelectDeliveryType" asp-route-isShippingToOffice="false" class="dropdown-item">
                    @Localizer["Delivery to customer address"]
                </a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="SelectDeliveryType" asp-route-isShippingToOffice="true" class="dropdown-item">
                    @Localizer["Delivery to courier office"]
                </a>
            </li>
        </ul>
        <hr/>
        <!-- Delivery Type End -->

        @if (Model.DeliveryType() == Model.OfficeDeliveryType)
        {
            <partial name="_DeliveryToOfficePartial" model="@Model.Office"/>
        }
        else if (Model.DeliveryType() == Model.AddressDeliveryType)
        {
            <partial name="_DeliveryToAddressPartial" model="@Model.Address" />
        }
</div>