@model AdminOrderDetailsDTO
@{
    ViewData["Title"] = "ADMIN ORDER DETAILS";
}
@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/checkout.css" />
}

<!-- Tracking Number Offcanvas Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="tracking-number" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Въведете тракинг номер</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form asp-area="Admin" asp-controller="OrderDetails" asp-action="AddTrackingCode" method="post">
            <input asp-for="@Model.Id" hidden value="@Model.Id" />
            <label asp-for="@Model.TrackingNumber" class="form-label-add-edit">Тракинг номер</label>
            <input asp-for="@Model.TrackingNumber" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.TrackingNumber" class="text-danger"></span>
            <button class="btn btn-sm bg-success" type="submit" hidden>Запази</button>
        </form>
    </div>
</div>
<!-- Tracking Number Offcanvas End -->

<div class="content">
    <div class="container p-3">

        <div class="row g-5 p-3">
            <!-- Client's data and Delivery address Start -->
            <div class="col-lg-6">
                <div class="w-100">
                    <!-- Delivery Type Start -->
                    <h4>Поръчка: #@Model.OrderNumber</h4>
                    <hr />
                    <div class="row">
                        <div class="d-flex justify-content-between">

                            @if (string.IsNullOrEmpty(Model.TrackingNumber))
                            {
                                <h5>Няма тракинг код:</h5>
                            }
                            else
                            {
                                <h5>Тракинг код: @Model.TrackingNumber</h5>
                            }
                            <a data-bs-toggle="offcanvas"
                               href="#tracking-number"
                               role="button"
                               aria-controls="offcanvas"
                               class="nav-link text-warning">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
 
                        @if (Model.AddressDelivery.IsOffice)
                        {
                            <!-- Office Start -->
                            <div class="row">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Доставка до куриерски офис</h5>
                                    <a asp-controller="Checkout" asp-action="SelectDeliveryType" asp-route-isShippingToOffice="true" style="color: rgb(var(--app-btn-bg))">
                                        Редактиране
                                    </a>
                                </div>
                                <span>Куриер: @Model.AddressDelivery.ShippingProvider</span>
                                <span>Офис: @Model.AddressDelivery.OfficeCity, @Model.AddressDelivery.OfficeAddress</span>
                                <span>Получател: @Model.AddressDelivery.FirstName @Model.AddressDelivery.LastName</span>
                                <span>Телефон: @Model.AddressDelivery.PhoneNumber</span>
                            </div>
                            <hr />
                            <!-- Office Start -->
                        }
                        else 
                        {
                            <!-- Address Start -->
                            <div class="row">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Доставка до адрес</h5>
                                    <a asp-controller="Checkout" asp-action="SelectDeliveryType" asp-route-isShippingToOffice="false" style="color: rgb(var(--app-btn-bg))">
                                        Редактиране
                                    </a>
                                </div>
                                <span>Адрес:</span>
                            <span class="ms-5">@Model.AddressDelivery.Country, @Model.AddressDelivery.District</span>
                            <span class="ms-5">@Model.AddressDelivery.PostCode, @Model.AddressDelivery.Town</span>
                            <span class="ms-5">@Model.AddressDelivery.Address</span>
                                <span>Получател:</span>
                            <span class="ms-5">@Model.AddressDelivery.FirstName @Model.AddressDelivery.LastName</span>
                            <span class="ms-5">@Model.AddressDelivery.PhoneNumber</span>
                            <span class="ms-5">@Model.AddressDelivery.Email</span>
                            </div>
                            <hr />
                            <!-- Address End -->
                        }




                    <!-- Payment Start -->
                    <h5>Метод на плащане</h5>
                    <p style="opacity: 0.9">@Model.PaymentMethod</p>
                    <!-- Payment Start -->
                    <hr />

                </div>
            </div>
            <!-- Client's data and Delivery address End -->
            <!-- Order Summary Start -->
            <div class="col-lg-6">
                <div class="container mt-4 px-4 pb-2 rounded"
                     style="background-color: rgb(var(--app-bg-secondary))">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="py-4 m-0">Резюме на поръчката (@Model.ProductsOrders.Sum(p => p.Quantity))</h5>
                        <a hidden href="#"
                           style="color: rgb(var(--app-btn-bg))"
                           target="_blank">
                            Редактиране
                        </a>
                    </div>

                    <hr class="mt-0" />
                    <!-- Product Start -->
                    @foreach (var product in Model.ProductsOrders)
                    {
                        <div class="row mb-5">
                            <div class="col-5">
                                <div class="product-img">
                                    <a asp-controller="Details" asp-action="Index" asp-route-id="@product.Id">
                                        <img src="@product.ImageUrl" class="img-fluid w-100"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-7">
                                <div>
                                    <p>@product.Name</p>
                                    <p>@product.Optional</p>
                                    <p>Цена: @product.Price лв.</p>

                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <a asp-controller="Checkout" asp-action="DeleteProductFromCart" asp-route-id="@product.Id" class="nav-link">
                                    <i class="fas fa-trash-alt me-2"></i>Извади от количка
                                </a>
                                <div class="d-flex justify-content-start align-items-center my-2">
                                    <form asp-controller="Checkout" asp-action="AddToCart" asp-route-productId="@product.Id"
                                          method="post">
                                        <input type="hidden" name="quantity" value="-1" />
                                        <button type="submit"
                                                class="btn btn-inverce my-2"
                                                style="background-color: rgb(var(--app-bg-secondary)); border:none">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </form>
                                    <span class="mx-2"> @product.Quantity</span>
                                    <form asp-controller="Checkout" asp-action="AddToCart" asp-route-productId="@product.Id"
                                          method="post">
                                        <input type="hidden" name="quantity" value="1" />
                                        <button type="submit"
                                                class="btn btn-inverce my-2"
                                                style="background-color: rgb(var(--app-bg-secondary)); border:none">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </form>
                                </div>
                                <p class="mb-0">
                                    <span><strong>@(product.Quantity * product.Price) лв.</strong></span>
                                </p>
                            </div>
                        </div>
                    }
                    <!-- Product End -->
                    <!-- Promo Code Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <strong>- @Model.Discount.ToString("f2") лв.</strong>
                    </div>

                    <!-- Promo Code End -->
                    <hr />
                    <!-- Subtotal Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <span>Междинна сума</span>
                        <span class="mb-0">
                            <strong>@Model.SubTotal().ToString("f2") лв.</strong>
                        </span>
                    </div>
                    <!-- Subtotal End -->
                    <!-- Delivery Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <span>Доставка</span>
                        <span class="mb-0">
                            @Model.ShippingPrice
                        </span>
                    </div>
                    <!-- Delivery End -->
                    <hr />
                    <!-- Total Price Start -->
                    <div class="d-flex justify-content-between my-3 fs-4">
                        <span>Общо :</span>
                        <span>@Model.Total().ToString("f2") лв.</span>
                    </div>
                    <!-- Total Price End -->
                </div>
            </div>
            <!-- Order Summary End -->
        </div>
    </div>


</div>
@section Scripts {
    <!-- Validation form fields on client -->
    <partial name="_ValidationScriptsPartial" />
}