@model AdminOrderDetailsDTO
@{
    ViewData["Title"] = "ADMIN ORDER DETAILS";
}
@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/checkout.css" />
}

<!-- Tracking Number Offcanvas Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="tracking-number" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Въведете тракинг номер</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form asp-area="Admin" asp-controller="OrderDetails" asp-action="AddTrackingCode" method="post">
            <input asp-for="@Model.Id" hidden value="@Model.Id" />
            <label asp-for="@Model.TrackingNumber" class="form-label-add-edit">Тракинг номер</label>
            <input asp-for="@Model.TrackingNumber" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.TrackingNumber" class="text-danger"></span>
            <button class="btn btn-sm bg-success" type="submit" hidden>Запази</button>
        </form>
    </div>
</div>
<!-- Tracking Number Offcanvas End -->
<!-- Status Order Offcanvas Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="status-order" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Изберете статус на поръчката</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        @foreach (var status in Model.StatusesOrder)
        {
            <a asp-area="Admin"
               asp-controller="OrderDetails"
               asp-action="ChangeStatus"
               asp-route-id="@Model.Id"
               asp-route-statusId="@status.Id"
               class="nav-link mb-2">
                @if (status.Id == Model.StatusOrderId)
                {
                    <div style="color:rgb(var(--app-btn-bg))">
                        <i class="fa-regular fa-square-check me-2"></i>
                        @status.Status
                    </div>
                }
                else
                {
                    <i class="fa-regular fa-square me-2"></i>
                    @status.Status
                }
            </a>
        }
    </div>
</div>
<!-- Status Order Offcanvas End -->
<!-- Payment Order Offcanvas Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="payment-order" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Изберете статус на поръчката</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a asp-area="Admin"
           asp-controller="OrderDetails"
           asp-action="ChangePayment"
           asp-route-id="@Model.Id"
           asp-route-isPaid="true"
           class="nav-link mb-2">
            @if (Model.IsPaid)
            {
                <div style="color:rgb(var(--app-btn-bg))">
                    <i class="fa-regular fa-square-check me-2"></i>
                    @Paid
                </div>
            }
            else
            {
                <i class="fa-regular fa-square me-2"></i>
                @Paid
            }
        </a>
        <a asp-area="Admin"
           asp-controller="OrderDetails"
           asp-action="ChangePayment"
           asp-route-id="@Model.Id"
           asp-route-isPaid="false"
           class="nav-link mb-2">
            @if (!Model.IsPaid)
            {
                <div style="color:rgb(var(--app-btn-bg))">
                    <i class="fa-regular fa-square-check me-2"></i>
                    @Unpaid
                </div>
            }
            else
            {
                <i class="fa-regular fa-square me-2"></i>
                @Unpaid
            }
        </a>

    </div>
</div>
<!-- Payment Order Offcanvas End -->
<!-- Delivery Method Offcanvas Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="delivery-method" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Изберете метод на доставка</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        @foreach (var deliveryMethod in Model.DeliveryMethods)
        {
            <a asp-area="Admin"
               asp-controller="OrderDetails"
               asp-action="ChangeDeliveryMethod"
               asp-route-id="@Model.Id"
               asp-route-deliveryMethodId="@deliveryMethod.Id"
               class="nav-link mb-2">
                @if (deliveryMethod.Id == Model.DeliveryMethodId)
                {
                    <div style="color:rgb(var(--app-btn-bg))">
                        <i class="fa-regular fa-square-check me-2"></i>
                        @deliveryMethod.Name
                    </div>
                }
                else
                {
                    <i class="fa-regular fa-square me-2"></i>
                    @deliveryMethod.Name
                }
            </a>
        }
    </div>
</div>
<!-- Delivery Method Offcanvas End -->
<!-- Add Product To Order Offcanvas Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="add-product-to-order" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Добавете продукт в поръчката</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @foreach (var product in Model.Products)
        {
            <a asp-area="Admin"
               asp-controller="OrderDetails"
               asp-action="AddProductToOrder"
               asp-route-id="@Model.Id"
               asp-route-productId="@product.Id"
               class="nav-link mb-2">
                @product.Id @product.Name
            </a>
        }
    </div>
</div>
<!-- Add Product To Order Offcanvas End -->
<!-- Discount Offcanvas Start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="discount" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Въведете отстъпка</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form asp-area="Admin" asp-controller="OrderDetails" asp-action="EditDiscount" method="post">
            <input asp-for="@Model.Id" hidden value="@Model.Id" />
            <label asp-for="@Model.Discount" class="form-label-add-edit">Отстъпка</label>
            <input asp-for="@Model.Discount" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Discount" class="text-danger"></span>
            <button class="btn btn-sm bg-success" type="submit" hidden>Запази</button>
        </form>
    </div>
</div>
<!-- Discount Offcanvas End -->

<div class="content">
    <div class="container p-3">

        <div class="row g-5 p-3">
            <!-- Client's data and Delivery address Start -->
            <div class="col-lg-6">
                <div class="w-100">
                    <h4>Поръчка: #@Model.OrderNumber</h4>
                    <hr />
                    <!-- Tracking Number Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <span>Тракинг код:</span>
                        <div class="d-flex justify-content-between">
                            <strong>@(string.IsNullOrEmpty(@Model.TrackingNumber) ? "няма" : Model.TrackingNumber)</strong>
                            <a data-bs-toggle="offcanvas"
                               href="#tracking-number"
                               role="button"
                               aria-controls="offcanvas"
                               class="nav-link text-warning">
                                <i class="fa fa-edit ms-2"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <!-- Tracking Number End -->
                    <!-- Status Order Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <span>Статус на поръчката:</span>
                        <div class="d-flex justify-content-between">
                            <strong>@Model.StatusesOrder.FirstOrDefault(so => so.Id == Model.StatusOrderId)?.Status</strong>
                            <a data-bs-toggle="offcanvas"
                               href="#status-order"
                               role="button"
                               aria-controls="offcanvas"
                               class="nav-link text-warning">
                                <i class="fa fa-edit ms-2"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <!-- Status Order End -->
                    <!-- Payment Order Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <span>Метод на лащане:</span>
                        <div class="d-flex justify-content-between">
                            <strong>@(Model.IsPaid ? Paid : Unpaid)</strong>
                            <a data-bs-toggle="offcanvas"
                               href="#payment-order"
                               role="button"
                               aria-controls="offcanvas"
                               class="nav-link text-warning">
                                <i class="fa fa-edit ms-2"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <!-- Payment Order End -->
                    <!-- Delivery Method Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <span>Метод на доставка:</span>
                        <div class="d-flex justify-content-between">
                            <strong>@Model.DeliveryMethods.FirstOrDefault(dm => dm.Id == Model.DeliveryMethodId)?.Name</strong>
                            <a data-bs-toggle="offcanvas"
                               href="#delivery-method"
                               role="button"
                               aria-controls="offcanvas"
                               class="nav-link text-warning">
                                <i class="fa fa-edit ms-2"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <!-- Delivery Method End -->
                    @if (Model.DeliveryMethodId == 1)
                    {
                        <!-- Home Delivery Start -->
                        <form asp-area="Admin" asp-controller="OrderDetails" asp-action="AddOfficeDelivery" method="post">
                            <input asp-for="@Model.Id" hidden value="@Model.Id" />
                            <div class="row my-2">
                                <div class="col-6">
                                    <label asp-for="@Model.ShippingProviderName" class="form-label small">куриер</label>
                                    <input asp-for="@Model.ShippingProviderName"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.ShippingProviderName" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="@Model.OfficeCity" class="form-label small">град</label>
                                    <input asp-for="@Model.OfficeCity"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.OfficeCity" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="@Model.OfficeAddress" class="form-label small">офис</label>
                                    <input asp-for="@Model.OfficeAddress"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.OfficeAddress" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="@Model.FirstName" class="form-label small">име</label>
                                    <input asp-for="@Model.FirstName"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="@Model.LastName" class="form-label small">фамилия</label>
                                    <input asp-for="@Model.LastName"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="my-2">
                                <label asp-for="@Model.PhoneNumber" class="form-label small">телефон</label>
                                <input asp-for="@Model.PhoneNumber"
                                       class="form-control" />
                                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="my-2">
                                <label asp-for="@Model.Email" class="form-label small">имейл</label>
                                <input asp-for="@Model.Email"
                                       class="form-control" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <!-- Save Changes Start -->
                                <button type="submit" class="btn btn-sm ms-3">Запази</button>
                                <!-- Save Changes End -->
                            </div>
                        </form>
                        <!-- Home Delivery End -->
                    }
                    else
                    {
                        <!-- Office Delivery Start -->
                        <form asp-area="Admin" asp-controller="OrderDetails" asp-action="AddHomeDelivery" method="post">
                            <input asp-for="@Model.Id" hidden value="@Model.Id" />
                            <div class="row my-2">
                                <div class="col-6">
                                    <label asp-for="@Model.FirstName" class="form-label small">име</label>
                                    <input asp-for="@Model.FirstName"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="@Model.LastName" class="form-label small">фамилия</label>
                                    <input asp-for="@Model.LastName"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-4">
                                    <label asp-for="@Model.Country" class="form-label small">държава</label>
                                    <select asp-for="@Model.Country" class="form-select">
                                        <option>България</option>
                                    </select>
                                    <span asp-validation-for="@Model.Country" class="text-danger"></span>
                                </div>
                                <div class="col-3">
                                    <label asp-for="@Model.PostCode" class="form-label small">пощенски код</label>
                                    <input asp-for="@Model.PostCode"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.PostCode" class="text-danger"></span>
                                </div>
                                <div class="col-5">
                                    <label asp-for="@Model.Town" class="form-label small">град</label>
                                    <input asp-for="@Model.Town"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.Town" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-2>">
                                <div class="col-8">
                                    <label asp-for="@Model.Address" class="form-label small">адрес</label>
                                    <input asp-for="@Model.Address"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="@Model.District" class="form-label small">област</label>
                                    <input asp-for="@Model.District"
                                           type="text"
                                           class="form-control" />
                                    <span asp-validation-for="@Model.District" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="my-2">
                                <label asp-for="@Model.PhoneNumber" class="form-label small">телефон</label>
                                <input asp-for="@Model.PhoneNumber"
                                       class="form-control" />
                                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="my-2">
                                <label asp-for="@Model.Email" class="form-label small">имейл</label>
                                <input asp-for="@Model.Email"
                                       class="form-control" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <!-- Save Changes Start -->
                                <button type="submit" class="btn btn-sm ms-3">Запази</button>
                                <!-- Save Changes End -->
                            </div>
                        </form>
                        <!-- Office Delivery End -->
                    }

                    <hr />
                    </div>
                    <!-- Note for Delivery Start -->
                    <div class="row">
                        <h5>Изисквания за поръчката:</h5>
                        <p>@(string.IsNullOrEmpty(Model.NoteForDelivery) ? "няма" : Model.NoteForDelivery)</p>
                    </div>
                    <hr />
                    <!-- Note for Delivery End -->
                    <!-- Currency and Exchange Rate Start -->
                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <h5>Валута: @Model.Currency</h5>
                            <h5>Валутен курс: @Model.ExchangeRate</h5>
                        </div>
                    </div>
                    <hr />
                    <!-- Currency and Exchange Rate End -->
                <!-- Send Confirmation Email Start -->
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <h5>Изпращане на имейл:</h5>
                        @if(!string.IsNullOrEmpty(Model.Email) || !string.IsNullOrEmpty(Model.AppUserName))
                        {
                            <div class="d-flex justify-content-between">
                                <span>@(string.IsNullOrEmpty(Model.Email) ? Model.AppUserName : Model.Email)</span>
                                <a asp-area="Admin"
                                   asp-controller="OrderDetails"
                                   asp-action="SendConfirmationEmail"
                                   asp-route-id="@Model.Id"
                                   class="nav-link text-success">
                                    <i class="fa-solid fa-paper-plane ms-2"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <span class="text-danger">няма имейл</span>
                        }
                    </div>
                </div>
                <hr />
                <!-- Send Confirmation Email End -->
                </div>
                <!-- Order Summary Start -->
                <div class="col-lg-6">
                    <div class="container mt-4 px-4 pb-2 rounded"
                         style="background-color: rgb(var(--app-bg-secondary))">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="py-4 m-0">Резюме на поръчката (@Model.ProductsOrders.Sum(p => p.Quantity))</h5>
                            <a data-bs-toggle="offcanvas"
                               href="#add-product-to-order"
                               role="button"
                               aria-controls="offcanvas"
                               class="nav-link text-primary">
                                <i class="fa-solid fa-cart-plus"></i>
                            </a>
                        </div>

                        <hr class="mt-0" />
                        <!-- Product Start -->
                        @foreach (var product in Model.ProductsOrders)
                        {
                            <div class="row mb-5">
                                <div class="col-5">
                                    <div class="product-img">
                                        <img src="@product.ImageUrl" class="img-fluid w-100"
                                             alt="" />
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div>
                                        <p>@product.Name</p>
                                        <p>@product.Optional</p>
                                        <p>Цена: @product.Price @Model.Currency</p>

                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <a asp-area="Admin"
                                       asp-controller="OrderDetails"
                                       asp-action="RemoveProductFromOrder"
                                       asp-route-id="@Model.Id"
                                       asp-route-productId="@product.Id"
                                       class="nav-link">
                                        <i class="fas fa-trash-alt me-2"></i>Извади от количка
                                    </a>
                                    <div class="d-flex justify-content-start align-items-center my-2">
                                        <a asp-area="Admin"
                                           asp-controller="OrderDetails"
                                           asp-action="AddQuantityToProduct"
                                           asp-route-id="@Model.Id"
                                           asp-route-productId="@product.Id"
                                           asp-route-quantity="-1"
                                           class="nav-link">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <span class="mx-2"> @product.Quantity</span>
                                        <a asp-area="Admin"
                                           asp-controller="OrderDetails"
                                           asp-action="AddQuantityToProduct"
                                           asp-route-id="@Model.Id"
                                           asp-route-productId="@product.Id"
                                           asp-route-quantity="1"
                                           class="nav-link">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <p class="mb-0">
                                        <span><strong>@(product.Quantity * product.Price) @Model.Currency</strong></span>
                                    </p>
                                </div>
                            </div>
                        }
                        <!-- Product End -->
                        <!-- Promo Code Start -->
                        <div class="d-flex justify-content-between mb-3">
                            <span>Промо код / Отстъпка:</span>
                            <div class="d-flex justify-content-between">
                                <strong>@Model.Discount @Model.Currency</strong>
                                <a data-bs-toggle="offcanvas"
                                   href="#discount"
                                   role="button"
                                   aria-controls="offcanvas"
                                   class="nav-link text-warning">
                                    <i class="fa fa-edit ms-2"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Promo Code End -->
                        <hr />
                        <!-- Subtotal Start -->
                        <div class="d-flex justify-content-between mb-3">
                            <span>Междинна сума</span>
                            <span class="mb-0">
                                <strong>@Model.SubTotal @Model.Currency</strong>
                            </span>
                        </div>
                        <!-- Subtotal End -->
                        <!-- Delivery Start -->
                        <div class="d-flex justify-content-between mb-3">
                            <span>Доставка</span>
                            <span class="mb-0">
                                @Model.ShippingPrice @Model.Currency
                            </span>
                        </div>
                        <!-- Delivery End -->
                        <hr />
                        <!-- Total Price Start -->
                        <div class="d-flex justify-content-between my-3 fs-4">
                            <span>Общо :</span>
                            <span>@Model.Total @Model.Currency</span>
                        </div>
                        <!-- Total Price End -->
                    </div>
                </div>
                <!-- Order Summary End -->
            </div>
        </div>


    </div>
    @section Scripts {
        <!-- Validation form fields on client -->
        <partial name="_ValidationScriptsPartial" />
    }
