@model OrderSummaryDTO
@{
    ViewData["Title"] = "ПОРЪЧКА";
}
@section Styles {
    <link rel="stylesheet" href="~/css/checkout.css" />
}


<div class="container p-3">

    <div class="row g-5 p-3">
        <!-- Client's data and Delivery address Start -->
        <div class="col-lg-6">
            <hr />
            <h5 class="py-3 m-0">Поръчка #<strong>@Model.OrderNumber</strong> от @Model.OrderDate.ToString("dd/MM/yyyy")</h5>

            <hr />
            @if (!Model.IsShippingToOffice)
            {
                <!-- Delivery to Address Start -->

                <h5 class="py-3 m-0">Доставка до адрес на клиент</h5>
                <div class="row" style="opacity: 0.9">
                    <span>@Model.FirstName @Model.LastName</span>
                    <span>@Model.Country</span>
                    <span>@Model.District</span>
                    <span>@Model.PostCode @Model.Town</span>
                    <span>@Model.Address</span>
                    <span>@Model.PhoneNumber</span>
                    <span>@Model.Email</span>
                </div>
                <!-- Delivery to Address End -->
            }
            else if (Model.IsShippingToOffice)
            {
                <!-- Delivery to Office Start -->
                <h5 class="py-3 m-0">Доставка до офис на куриер</h5>
                <div class="row" style="opacity: 0.9">
                    <span>@Model.ShippingProviderName</span>
                    <span>@Model.ShippingOfficeCity</span>
                    <span>@Model.ShippingOfficeAddress</span>
                    <span>@Model.FirstName @Model.LastName</span>
                    <span>@Model.PhoneNumber</span>
                </div>
                <!-- Delivery to Office End -->
            }
            <hr />
            <!-- Payment Start -->
            <h5>Метод на плащане</h5>
            <p style="opacity: 0.9">наложен платеж</p>
            <!-- Payment Start -->
            <hr />
        </div>
        <!-- Client's data and Delivery address End -->

        <!-- Order Summary Start -->
        <div class="col-lg-6">
            <div class="container mt-4 px-4 pb-2 rounded"
                 style="background-color: rgb(var(--app-bg-secondary))">
                    <h5 class="py-4 m-0">Резюме на поръчката (@Model.Products.Sum(p => p.Quantity))</h5>

                <hr class="mt-0" />
                <!-- Product Start -->
                @foreach (var product in Model.Products)
                {
                    <div class="row mb-5">
                        <div class="col-5">
                            <div class="product-img">
                                <a asp-controller="Details" asp-action="Index" asp-route-id="@product.Id">
                                    <img src="@product.ImagePath"
                                         class="img-fluid w-100"
                                         alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-7">
                            <div>
                                <p>@product.Name</p>
                                <p>Цена: @product.Price лв.</p>

                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div class="d-flex justify-content-start align-items-center my-2">
                                    <span class="mx-2">Количество: @product.Quantity</span>
                                </div>
                                <p class="mb-0">
                                    <span><strong>@(product.Quantity * product.Price) лв.</strong></span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
                <!-- Product End -->
                <!-- Promo Code Start -->
                <div style="display: block">
                    <div class="d-flex justify-content-between">
                        <span>Промо код: @Model.PromoCode</span>
                        <span>
                            <strong> - @Model.Discount лв.</strong>
                        </span>
                    </div>
                </div>
                <!-- Promo Code Start -->
                <hr />
                <!-- Subtotal Start -->
                <div class="d-flex justify-content-between mb-3">
                    <span>Междинна сума</span>
                    <span class="mb-0">
                        <strong>@Model.SubTotal лв.</strong>
                    </span>
                </div>
                <!-- Subtotal End -->
                <!-- Delivery Start -->
                <div class="d-flex justify-content-between mb-3">
                    <span>Доставка</span>
                    <span class="mb-0">
                        @if (Model.ShippingPrice == 0)
                        {
                            <strong>безплатна</strong>
                        }
                        else
                        {
                            <strong>@Model.ShippingPrice лв.</strong>
                        }
                    </span>
                </div>
                <!-- Delivery End -->
                <hr />
                <!-- Total Price Start -->
                <div class="d-flex justify-content-between my-3 fs-4">
                    <span>Общо :</span>
                    <span>@Model.Total лв.</span>
                </div>
                <!-- Total Price End -->
            </div>
        </div>
        <!-- Order Summary End -->
    </div>
</div>

<p>OrderNumber - @Model.OrderNumber</p>
<p>OrderDate - @Model.OrderDate</p>
<p>FirstName - @Model.FirstName</p>
<p>LastName - @Model.LastName</p>
<p>PostCode - @Model.PostCode</p>
<p>Address - @Model.Address</p>
<p>Town - @Model.Town</p>
<p>District - @Model.District</p>
<p>Email - @Model.Email</p>
<p>Country - @Model.Country</p>
<p>ShippingProviderName - @Model.ShippingProviderName</p>
<p>City - @Model.ShippingOfficeCity</p>
<p>OfficeAddress - @Model.ShippingOfficeAddress</p>
<p>PaymentMethod - @Model.PaymentMethod</p>
<p>NoteForDelivery - @Model.NoteForDelivery</p>
@foreach (var product in Model.Products)
{
    <hr/>
    <p>Id - @product.Id</p>
    <p>Name - @product.Name</p>
    <p>Description - @product.Description</p>
    <p>ImagePath - @product.ImagePath</p>
    <p>Quantity - @product.Quantity</p>
    <p>Price - @product.Price</p>
}
<hr/>
<p>SubTotal - @Model.SubTotal</p>
<p>PromoCode - @Model.PromoCode</p>
<p>Discount - @Model.Discount</p>
<p>ShippingPrice - @Model.ShippingPrice</p>
<p>Total - @Model.Total</p>


