@model OrderDTO
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ORDER"];
}
@section Styles {
    <link rel="stylesheet" href="~/css/checkout.css" />
}

@if (Model.ProductsInBag.Count() == 0)
{
    <div class="text-center mt-5">
        <h1 style="height:100px">@Localizer["The shopping bag is empty"]</h1>
        <a asp-controller="Products" asp-action="Index" class="btn">
            @Localizer["To the store..."]
        </a>
        <div style="height:100px"></div>
    </div>
}
else
{
    <div class="container p-3">

        <div class="row g-5 p-3">
            <!-- Client's data and Delivery address Start -->
            <div class="col-lg-6">
                <div class="container p-3 my-4 rounded"
                     style="background-color: rgb(var(--app-bg-secondary))">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="d-flex justify-content-between">
                            <div class="small">
                                @Localizer["You are signed in as"] @User.Identity.Name
                            </div>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Checkout", new { area = "" })">
                                <input class="nav-link small text-decoration-underline" type="submit" style="color: rgb(var(--app-btn-bg))" value="@Localizer["Logout"]">
                            </form>
                        </div>
                    }
                    else
                    {
                        <small>
                            @Localizer["Already have an account?"]
                            <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Checkout", new { area = "" })" style="color: rgb(var(--app-btn-bg))">
                                @Localizer["Login"]
                            </a>
                            @Localizer["in it for faster ordering."]
                        </small>
                    }
                </div>
                <div class="w-100">
                    <!-- Delivery Type Start -->
                    <h5>@Localizer["Delivery method"]</h5>
                    <a class="nav-link dropdown-toggle fs-6" href="#" role="button" data-bs-toggle="dropdown">
                        @if (Model.DeliveryMethodId == 0)
                        {
                            <span class="text-danger">@Localizer["Choose a shipping method..."]</span>
                        }
                        else
                        {
                            <span>@Model.DeliveryMethods.FirstOrDefault(dm => dm.Id == Model.DeliveryMethodId)?.Name</span>
                        } 
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="Checkout" asp-action="SelectDeliveryMethod" asp-route-deliveryMethodId="1" class="dropdown-item">
                                @Model.DeliveryMethods?.First().Name 
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Checkout" asp-action="SelectDeliveryMethod" asp-route-deliveryMethodId="2" class="dropdown-item">
                                @Model.DeliveryMethods?.Last().Name
                            </a>
                        </li>
                    </ul>
                    <hr />
                    <!-- Delivery Type End -->
                    @if (Model.IsSelectedAddress)
                    {
                        if (Model.DeliveryMethodId == 1)
                        {
                            <!-- Office Start -->
                            <div class="row">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>@Localizer["Delivery to a courier office"]</h5>
                                    <a asp-controller="Checkout" asp-action="EditDeliveryAddress" style="color: rgb(var(--app-btn-bg))">
                                        @Localizer["Edit"]
                                    </a>
                                </div>
                                <span>@Localizer["Courier"]: @Model.Address.ShippingOffice?.ShippingProviderName</span>
                                <span>@Localizer["Office"]: @Model.Address.ShippingOffice?.City, @Model.Address.ShippingOffice?.OfficeAddress</span>
                                <span>@Localizer["Recipient"]: @Model.Address.FirstName @Model.Address.LastName</span>
                                <span>@Localizer["Phone number"]: @Model.Address.PhoneNumber</span>
                            </div>
                            <hr />
                            <!-- Office Start -->
                        }
                        else if (Model.DeliveryMethodId == 2)
                        {
                            <!-- Address Start -->
                            <div class="row">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>@Localizer["Delivery to address"]</h5>
                                    <a asp-controller="Checkout" asp-action="EditDeliveryAddress" style="color: rgb(var(--app-btn-bg))">
                                        @Localizer["Edit"]
                                    </a>
                                </div>
                                <span>@Localizer["Address"]:</span>
                                <span class="ms-5">@Model.Address!.Country, @Model.Address.District</span>
                                <span class="ms-5">@Model.Address.PostCode, @Model.Address.Town</span>
                                <span class="ms-5">@Model.Address.Address</span>
                                <span>@Localizer["Recipient"]:</span>
                                <span class="ms-5">@Model.Address.FirstName @Model.Address.LastName</span>
                                <span class="ms-5">@Model.Address.PhoneNumber</span>
                                <span class="ms-5">@Model.Address.Email</span>
                            </div>
                            <hr />
                            <!-- Address End -->
                        }
                    }
                    else
                    {
                        if (Model.DeliveryMethodId == 1)
                        {
                            <partial name="_DeliveryToOfficePartial" model="@Model.Address" />
                            <hr />
                        }
                        else if (Model.DeliveryMethodId == 2)
                        {
                            <partial name="_DeliveryToAddressPartial" model="@Model.Address" />
                            <hr />
                        }
                    }



                    <!-- Payment Start -->
                    <h5>@Localizer["Payment method"]</h5>
                    <p style="opacity: 0.9">@Model.PaymentMethods.FirstOrDefault(pm => pm.Id == Model.PaymentMethodId)?.Name</p>
                    <!-- Payment End -->
                    <!-- Confirm Order Start-->
                    <hr />
                    @if (Model.IsSelectedAddress)
                    {
                        <form asp-controller="Checkout" asp-action="CheckoutSummary" method="post">
                            <div class="my-2">
                                <textarea asp-for="@Model.NoteForDelivery" class="form-control"
                                          rows="4" placeholder="@Localizer["Write additional shipping requirements..."]"></textarea>
                            </div>
                            <p>
                                @Localizer["Review the order details above and place your order when you're ready."]
                            </p>
                            <button type="submit"
                               class="btn mt-3"
                               style="width: 100%">
                                @Localizer["Place an order"]
                            </button>
                        </form>
                    }
                    <!-- Confirm Order End-->
                </div>
            </div>
            <!-- Client's data and Delivery address End -->

            <!-- Order Summary Start -->
            <div class="col-lg-6">
                <div class="container mt-4 px-4 pb-2 rounded"
                     style="background-color: rgb(var(--app-bg-secondary))">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="py-4 m-0">@Localizer["Order Summary"] (@Model.ProductsInBag.Sum(p => p.Quantity))</h5>
                        <a hidden href="#"
                           style="color: rgb(var(--app-btn-bg))"
                           target="_blank">
                            Редактиране
                        </a>
                    </div>

                    <hr class="mt-0" />
                    <!-- Product Start -->
                    @foreach (var product in Model.ProductsInBag)
                    {
                        <div class="row mb-5">
                            <div class="col-5">
                                <div class="product-img">
                                    <a asp-controller="Details" asp-action="Index" asp-route-id="@product.Id">
                                        <img src="@product.ImageUrl" class="img-fluid w-100"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-7">
                                <div>
                                    <p>@product.Name</p>
                                    <p>@product.Optional</p>
                                    <p>@Localizer["Price"]: @product.Price @Localizer["Currency"]</p>

                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <a asp-controller="Checkout" asp-action="DeleteProductFromCart" asp-route-id="@product.Id" class="nav-link">
                                    <i class="fas fa-trash-alt me-2"></i>@Localizer["Remove"]
                                </a>
                                <div class="d-flex justify-content-start align-items-center my-2">
                                    <form asp-controller="Checkout" asp-action="AddToCart" asp-route-productId="@product.Id"
                                          method="post">
                                        <input type="hidden" name="quantity" value="-1" />
                                        <button type="submit"
                                                class="btn btn-inverce my-2"
                                                style="background-color: rgb(var(--app-bg-secondary)); border:none">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </form>
                                    <span class="mx-2"> @product.Quantity</span>
                                    <form asp-controller="Checkout" asp-action="AddToCart" asp-route-productId="@product.Id"
                                          method="post">
                                        <input type="hidden" name="quantity" value="1" />
                                        <button type="submit"
                                                class="btn btn-inverce my-2"
                                                style="background-color: rgb(var(--app-bg-secondary)); border:none">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </form>
                                </div>
                                <p class="mb-0">
                                    <span><strong>@(product.Quantity * product.Price) @Localizer["Currency"]</strong></span>
                                </p>
                            </div>
                        </div>
                    }
                    <!-- Product End -->
                    <!-- Promo Code Start -->
                    <div class="d-flex justify-content-between mb-3">
                        @if (Model.PromoCodes.Any())
                        {
                            <div>
                                <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown"> <i class="fa-solid fa-tag me-1"></i>@Localizer["You have a promo code"]</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-controller="Checkout" asp-action="DiscountWithPromoCode" class="dropdown-item">
                                            @Localizer["No promo code"]
                                        </a>
                                    </li>
                                    <li>
                                        @foreach (var promoCode in Model.PromoCodes)
                                        {
                                            <a asp-controller="Checkout" asp-action="DiscountWithPromoCode" asp-route-promoCodeId="@promoCode.Id" class="dropdown-item">
                                                @(promoCode.Code) @Localizer["until"] @promoCode.ExpirationDate.Date.ToString("dd/MM/yyyy")
                                            </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        }
                        @if (Model.PromoCodeId != 0)
                        {
                            <span>@Model.PromoCodes.FirstOrDefault(pc => pc.Id == Model.PromoCodeId)?.Code</span>
                            <span class="mb-0">
                                <strong>- @Model.Discount @Localizer["Currency"]</strong>
                            </span>
                        }
                    </div>

                    <!-- Promo Code End -->
                    <hr />
                    <!-- Subtotal Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <span>@Localizer["Subtotal"]</span>
                        <span class="mb-0">
                            <strong>@Model.SubTotal @Localizer["Currency"]</strong>
                        </span>
                    </div>
                    <!-- Subtotal End -->
                    <!-- Delivery Start -->
                    <div class="d-flex justify-content-between mb-3">
                        <span>@Localizer["Shipping"]</span>
                        <span class="mb-0">
                            @if (!Model.IsSelectedAddress)
                            {
                                <strong class="text-danger">@Localizer["No delivery address"]</strong>
                            }
                            else if (Model.ShippingPrice == 0)
                            {
                                <strong>@Localizer["Free"]</strong>
                            }
                            else
                            {
                                <strong>@Model.ShippingPrice @Localizer["Currency"]</strong>
                            }
                        </span>
                    </div>
                    <!-- Delivery End -->
                    <hr />
                    <!-- Total Price Start -->
                    <div class="d-flex justify-content-between my-3 fs-4">
                        <span>@Localizer["Total"]:</span>
                        <span>@Model.Total @Localizer["Currency"]</span>
                    </div>
                    <!-- Total Price End -->
                </div>
            </div>
            <!-- Order Summary End -->
        </div>
    </div>
}

@section Scripts {
    <!-- Validation form fields on client -->
    <partial name="_ValidationScriptsPartial" />

    <!-- Custom validation for the form -->
    <script src="~/js/customValidations.js"></script>

}