@model HomeViewModel
@using System.Security.Claims;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/lib/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/carousel-products.css" />
}

<!-- Carousel Start-->
<section>
    <div id="demo"
         class="carousel slide carousel-fade"
         data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#demo"
                    data-bs-slide-to="0"
                    class="active"></button>
            <button type="button"
                    data-bs-target="#demo"
                    data-bs-slide-to="1"></button>
            <button type="button"
                    data-bs-target="#demo"
                    data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- class="carousel-item active" -->
                <img src="~/files/home/carousel/image-01.webp"
                     alt=""
                     width="1411"
                     height="228"
                     style="
                width: 1573px;
                height: 228px;
                object-fit: cover;
                object-position: 50% 50%;
              "
                     fetchpriority="high" />

                <div class="carousel-caption">
                    <h2 class="h2">@Localizer["OUR PACKAGING"]</h2>
                    <p class="fs-5">
                        @Localizer["ALUMINUM AND GLASS. AND THE CARDBOARD BOXES AND THE FILLING ARE 100% RECYCLED PRODUCT FROM BULGARIA"]
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/files/home/carousel/image-02.webp"
                     alt="1687301198446-L.png"
                     width="1411"
                     height="228"
                     style="
                width: 1573px;
                height: 228px;
                object-fit: cover;
                object-position: 50% 50%;
              "
                     fetchpriority="high" />
                <div class="carousel-caption">
                    <p class="fs-5">
                        <span style="font-size: 21px">@Localizer["100% NATURAL SKIN CARE"]</span>
                    </p>
                    <h2 class="h2">
                        @Localizer["HANDMADE"]<br />
                        @Localizer["WITH LOVE"]
                    </h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/files/home/carousel/image-03.webp"
                     alt="IMG_20230907_190239.png"
                     width="1411"
                     height="228"
                     style="
                width: 1573px;
                height: 228px;
                object-fit: cover;
                object-position: 50% 50%;
              "
                     fetchpriority="high" />
                <div class="carousel-caption">
                    <h2 class="h2">@Localizer["GENTLE FORMULAS"]</h2>

                    <p class="fs-5">
                        @Localizer["INGREDIENTS FROM BULGARIA AND BIO ORIGIN. ALCOHOL-FREE. CREATED YES NOURISH, HYDRATE AND PROTECT"]
                    </p>
                </div>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#demo"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#demo"
                data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>
<!-- Carousel End -->

<div style="background: rgb(var(--app-bg-secondary)); height: 20px"></div>

<!-- Section 1 Start -->
<section>
    <div class="d-flex justify-content-center p-0">
        <div style="width: 40%">
            <img src="~/files/home/section/image-section-01.webp"
                 alt=""
                 style="width: 100%; height: 228px; object-fit: cover" />
        </div>
        <div class="ps-5 pt-2" style="width: 60%">
            <p class="fs-5">
                @Localizer["LIL'S CARE is handmade natural skin care. Homemade with Bulgarian and organic ingredients. With gentle formulas and with care for a soft feel."]
            </p>
            <p></p>
            <a class="btn" style="float: left" asp-controller="Products">@Localizer["TAKE A LOOK"]</a>
        </div>
    </div>
</section>
<!-- Section 1 End -->

<!-- Favorites Start -->
<section id="favorites"
         style="background-color: rgb(var(--app-bg-secondary))">
    <div class="container w-75 fs-5 text-center p-5">
        <p>
            @Localizer["Section1Description"]
        </p>
        <h1 class="h1 p-5">@Localizer["OUR FAVORITES"]</h1>
    </div>
    <!-- Articles 1 Start -->
    <article id="article-1">
        <div class="d-flex justify-content-center">
            <div class="px-5" style="width: 40%; text-align: right">
                <h2 class="h2 mb-0">@Localizer["SERUM OIL WITH ROSE BORN AND JOJOBA"]</h2>

                <p class="fs-5 mb-0">
                    @Localizer["It has a pleasant action and a relaxing aroma."]
                </p>
                <p class="fs-5 mb-0">
                    @Localizer["With Bulgarian organic rosehip oil"]
                </p>
                <p></p>
                <a class="btn btn-primary" style="float: right" asp-controller="Products" asp-action="Details" asp-route-id="01">@Localizer["SEE HERE"]</a>
            </div>
            <div style="width: 40%">
                <a asp-controller="Products" asp-action="Details" asp-route-id="01">
                    <img src="~/files/home/favorites/home-favorites-image-01.webp"
                         alt=""
                         style="width: 100%; object-fit: cover" />
                </a>
            </div>
        </div>
    </article>
    <!-- Articles 1 End -->
    <!-- Articles 2 Start -->
    <article id="article-2">
        <div class="d-flex justify-content-center pt-4">
            <div style="width: 40%; text-align: center; position: relative">
                <div style="
                background-color: rgb(var(--app-btn-bg));
                position: absolute;
                left: 0px;
                width: 281px;
                height: 370px;
                transform: translate(20px, 20px);
              "></div>
                <a class="img-transition" asp-controller="Products" asp-action="Details" asp-route-id="02">
                    <img src="~/files/home/favorites/home-favorites-image-02.webp"
                         alt=""
                         style="width: 100%; object-fit: cover" />
                </a>
            </div>
            <div style="width: 40%">
                <h2 class="h2 mb-0">@Localizer["MOISTURIZING LOTION WITH CALENDULUS"]</h2>

                <p class="fs-5 mb-0">
                    @Localizer["The lotion is suitable for all skin types"]
                </p>

                <p></p>
                <a class="btn btn-success" style="float: left" asp-controller="Products" asp-action="Details" asp-route-id="02">РАЗГЛЕДАЙ</a>
            </div>
        </div>
    </article>
    <!-- Articles 2 End -->
</section>
<!-- Favorites End -->

<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 -3 1920 197"
     fill="rgb(var(--app-bg-secondary))"
     transform="scale(-1, -1)">
    <path d="M0,200 v-5 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
</svg>

<!-- Similar Products Start -->
<vc:carousel-products-component user-id="@ViewBag.UserId"></vc:carousel-products-component>
<!-- Similar Products End -->

<!-- Add To Subscribers Start -->
<form asp-action="AddToSubscribers" method="post">
    <partial name="_SubscribersPartial" />
</form>
<!-- Add To Subscribers End -->

<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 -3 1920 197"
     fill="rgb(var(--app-bg-secondary))"
     transform="scale(-1, 1)">
    <path d="M0,200 v-5 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
</svg>

<!-- About Start -->
<section id="about-us">
    <h1 class="h1 text-center mb-0 pb-3"
        style="background-color: rgb(var(--app-bg-secondary))">
        @Localizer["FOR US"]
    </h1>
    <article>
        <div class="d-flex justify-content-center p-0">
            <div style="width: 40%">
                <img src="~/files/home/about/home-about-image-01.webp"
                     alt="1687301198477-L.png"
                     style="width: 100%; object-fit: cover" />
            </div>
            <div class="ps-5 pt-2" style="width: 60%">
                <h1 class="h1 mb-0">@Localizer["AND FOR NATURE"]</h1>

                <p class="fs-5 mb-0">
                    @Localizer["Handmade 100% natural skin care with ingredients from"]
                </p>
            </div>
        </div>
    </article>
    <article>
        <div class="d-flex justify-content-center p-0"
             style="background-color: rgb(var(--app-bg-secondary))">
            <div style="width: 60%">
                <h2 style="
                font: var(--font_0);
                letter-spacing: 0.1em;
                font-size: 40px;
                text-align: right;
                padding: 25px;
              ">
                    @Localizer["AND FOR THE SKIN"]
                </h2>
                <p class="font_7"
                   style="
                font-size: 18px;
                line-height: 1.6em;
                text-align: right;
                padding: 25px;
              ">
                    @Localizer["Soft and pleasant feeling"]
                </p>
                <svg id="Decoration"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 -6 1920 500"
                     fill="rgb(var(--app-bg-color))"
                     style="position: absolute"
                     transform="scale(-1, 1)">
                    <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
                </svg>
            </div>
            <div style="width: 40%">
                <div>
                    <img src="~/files/home/about/home-about-image-02.webp"
                         alt=""
                         style="width: 100%; max-height: 430px; object-fit: cover" />
                </div>
            </div>
        </div>
    </article>
</section>
<!-- About End -->
<!-- Contact As Start -->
<section id="contact-us" style="position: relative">
    <div class="d-flex justify-content-center">
        <div style="width: 25%">
            <img src="~/files/home/focus/home-focus-image-01.webp"
                 alt=""
                 style="width: 100%" />
        </div>
        <div style="width: 65%; padding: 0 0 0 25px">
            <h2 class="h1">@Localizer["FOCUS ON YOU"]</h2>
            <p class="fs-6 mb-0">
                @Localizer["Your experience will always be our first priority - to deliver"]
            </p>
            <p class="fs-6 mb-0">
                @Localizer["Ask us about the products, personal suggestions or share an opinion."]
            </p>
            <form asp-controller="Home" asp-action="MessageFromClient" method="post" class="d-flex justify-content-center">
                <div style="width: 60%">
                    <div>
                        <input asp-for="FirstName" type="name"
                               class="form-control"
                               placeholder="@Localizer["First Name"]*"
                               name="FirstName" />
                    </div>
                    <span asp-validation-for="@Model.FirstName" class="text-danger" style="font-size: 12px"></span>
                    <div class="px-0 my-3">
                        <input asp-for="LastName" type="name"
                               class="form-control"
                               placeholder="@Localizer["Last Name"]"
                               name="LastName" />
                    </div>
                    <div>
                        <input asp-for="EmailForResponse" type="email"
                               class="form-control"
                               placeholder="@Localizer["Email"]*"
                               name="EmailForResponse" />
                    </div>
                    <span asp-validation-for="@Model.EmailForResponse" class="text-danger" style="; font-size: 12px"></span>
                    <button type="submit"
                            class="btn btn-primary mt-3"
                            style="width: 100%">
                        @Localizer["Send"]
                    </button>
                    <div class="form-check" style="font-size: 14px">
                        <label class="form-check-label">
                            <input asp-for="PrivacyPolicyCheckBoxForMessage" type="checkbox"
                                   class="form-check-input"
                                   name="PrivacyPolicyCheckBoxForMessage"
                                   data-val="true"
                                   data-val-mustbetrue="@Localizer["Confirm agreement with the privacy policy."]" />
                            @Localizer["I agree"] с&nbsp;
                            <a asp-controller="TermsConditions" style="color: rgb(var(--app-btn-bg))"
                               target="_blank">
                                @Localizer["the conditions"]
                            </a>
                        </label>
                    </div>
                    <span asp-validation-for="@Model.PrivacyPolicyCheckBoxForMessage" class="text-danger" style="font: var(--font_9); font-size: 12px"></span>
                </div>
                <div style="width: 40%; padding-left: 15px">
                    <textarea asp-for="Message" class="form-control"
                              rows="9"
                              name="Message"
                              placeholder="@Localizer["Write a message..."]"></textarea>
                    <span asp-validation-for="@Model.Message" class="text-danger" style="font-size: 12px"></span>
                    <label for="comment"
                           style="font-size: 14px">
                        @Localizer["We send an email 1 to 2 times a month."]
                    </label>
                </div>
            </form> 
        </div>
    </div>
</section>
<!-- Contact As End -->
<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 -3 1920 197"
     fill="rgb(var(--app-bg-secondary))"
     transform="scale(1, 1)">
    <path d="M0,200 v-5 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
</svg>

@section Scripts {
    <script src="~/js/home.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/carousel-products.js"></script>

    <!-- Validation form fields on client -->
    <partial name="_ValidationScriptsPartial" />

    <!-- Custom validation for the form -->
    <script src="~/js/customValidations.js"></script>

}







