@inject IViewLocalizer Localizer
@model ContactUsDTO
@{
    ViewData["Title"] = Localizer["SKIN"];
}
<!-- Section 1 Start-->
<section class="fs-5">
    <div class="d-flex justify-content-center p-0">
        <div style="width: 34%">
            <img src="/files/skin-types/sections/skin-sections-image-01.webp"
                 alt=""
                 style="width: 100%; max-height: 389px; object-fit: cover" />
        </div>
        <div class="ps-5 pt-2" style="width: 66%">
            <h2 class="h2">@Localizer["WHY IS SKIN TYPE IMPORTANT?"]</h2>
            <p>
                @Localizer["To choose suitable products. There is no point in expensive cosmetics if they are not suitable for you. Skin types are <strong>dry</strong>, <strong>oily</strong> and <strong>combination</strong>, and in addition it can be <strong>sensitive</strong>. Different products are designed to help with different skin problems. Products for oily skin would exhaust dry skin and vice versa. The right products are the basis of a good routine.</p><p>Did you know that skin type can change? The skin grows and regenerates constantly. It adapts and changes. After prolonged use of products, the skin type may change."]
            </p>
        </div>
    </div>
</section>
<!-- Section 1 End-->

<!-- Section 2 Start-->
<section class="fs-5" style="background-color: rgb(var(--app-bg-3))">
    <div class="d-flex justify-content-center p-0">
        <div style="width: 66%">
            <div class="p-4">
                <h2 class="h2">@Localizer["WHAT IS MY SKIN TYPE?"]</h2>
                <p>
                    @Localizer["It's easy! Cleanse your face with a gentle"]
                </p>
            </div>
        </div>
        <div style="width: 34%">
            <div>
                <img src="/files/skin-types/sections/skin-sections-image-02.webp"
                     alt=""
                     style="width: 100%; max-height: 327px; object-fit: cover" />
            </div>
        </div>
    </div>
</section>
<!-- Section 2 End-->

<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 1920 200"
     fill="rgb(var(--app-bg-3))"
     transform="scale(-1, -1)">
    <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
</svg>

<!-- Section Examples of Short Routine Start-->

<section class="fs-5">
    <div class="container w-75 text-center mb-5">
        <p>@Localizer["Examples of"]</p>
        <h1 class="h1">@Localizer["SHORT ROUTINE"]</h1>
    </div>
    <!-- Section 3 Start-->
    <section>
        <div class="d-flex justify-content-center p-0">
            <div style="width: 30%">
                <img src="/files/skin-types/sections/skin-sections-image-03.webp"
                     alt=""
                     style="width: 100%; max-height: 473px; object-fit: cover" />
            </div>
            <div class="ps-5 pt-2" style="width: 70%">
                <h2 class="h2">@Localizer["FOR DRY SKIN:"]</h2>
                <p>
                    @Localizer["It is more difficult to get oily on its own and does not release a lot of sebum, which is the natural protection. This often leads to sensitivity. A suitable choice are delicate and dense products with more oils and emollient ingredients to protect the skin and help its recovery."]
                </p>
                <div class="row fs-6">
                    <div class="col">
                        <span style="display: inline-flex; align-items: center">
                            @Localizer["washing product"]
                            <img src="/files/svg/arrow-right.svg"
                                 alt=""
                                 style="width: 30px; height: 30px; opacity: 0.5" />
                        </span>
                        <img src="/files/svg/skin-svg-01.svg"
                             alt=""
                             style="width: 100px; height: 130px; opacity: 0.5" />
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["hydrating Cream"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-02.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["nourishing serum oil"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-03.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                            <img src="/files/svg/skin-svg-05.svg"
                                 alt=""
                                 style="width: 35px; height: 43px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["sun protection"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-04.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 3 End-->
    <!-- Section 4 Start-->
    <section style="background-color: rgb(var(--app-bg-3))">
        <div class="d-flex justify-content-center p-0">
            <div class="ps-5 pt-2" style="width: 70%">
                <h2 class="h2">@Localizer["FOR OILY SKIN:"]</h2>
                <p>
                    @Localizer["It gets more oily than necessary and results in more pimples, blackheads and clogged pores. Light, hydrating and non-comedogenic products without a lot of oils are suitable. Also AHA/BHA peeling acids 1-2 times a week. However, they can irritate the skin and it is important to follow them with good hydration to protect the skin barrier."]
                </p>
                <div class="row fs-6">
                    <div class="col">
                        <span style="display: inline-flex; align-items: center">
                            @Localizer["washing product"]
                            <img src="/files/svg/arrow-right.svg"
                                 alt=""
                                 style="width: 30px; height: 30px; opacity: 0.5" />
                        </span>
                        <img src="/files/svg/skin-svg-01.svg"
                             alt=""
                             style="width: 100px; height: 130px; opacity: 0.5" />
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["a light water-based serum"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-03.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                            <img src="/files/svg/skin-svg-05.svg"
                                 alt=""
                                 style="width: 35px; height: 43px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["moisturizing lotion / gel"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-02.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["sun protection"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-04.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 30%">
                <img src="/files/skin-types/sections/skin-sections-image-04.webp"
                     alt=""
                     style="width: 100%; max-height: 473px; object-fit: cover" />
            </div>
        </div>
    </section>
    <!-- Section 4 End-->
    <!-- Section 5 Start-->
    <section>
        <div class="d-flex justify-content-center p-0">
            <div style="width: 30%">
                <img src="/files/skin-types/sections/skin-sections-image-05.webp"
                     alt=""
                     style="width: 100%; max-height: 473px; object-fit: cover" />
            </div>
            <div class="ps-5 pt-2" style="width: 70%">
                <h2 class="h2">@Localizer["FOR COMBINATION SKIN:"]</h2>
                <p>
                    @Localizer["On the T-zone you can have a routine for oily... and on the cheeks a routine... But who wants a routine for every part of the face?! Try different products and experiment. Do not use every product on the whole face, but more or more often where it is needed. For example, AHA peeling on the T-zone and less often on the whole face. And lotion mainly mainly on the cheeks. Listen to your skin and its needs."]
                </p>
                <div class="row fs-6">
                    <div class="col">
                        <span style="display: inline-flex; align-items: center">
                            @Localizer["washing product"]
                            <img src="/files/svg/arrow-right.svg"
                                 alt=""
                                 style="width: 30px; height: 30px; opacity: 0.5" />
                        </span>
                        <img src="/files/svg/skin-svg-01.svg"
                             alt=""
                             style="width: 100px; height: 130px; opacity: 0.5" />
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["light serum"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-03.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                            <img src="/files/svg/skin-svg-05.svg"
                                 alt=""
                                 style="width: 35px; height: 43px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["moisturizing lotion"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-02.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                @Localizer["sun protection"]
                                <img src="/files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="/files/svg/skin-svg-04.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 5 End-->
</section>

<!-- Section Examples of Short Routine End-->

<div class="fs-5" style="background-color: rgb(var(--app-bg-secondary))">
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1920 200"
         fill="rgb(var(--app-bg-color))"
         transform="scale(1, -1)">
        <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
    </svg>
    <div class="container w-75 text-center">
        <p class="mb-0">
            @Localizer["NOTE: These routines are examples only. Use them and adapt them according to your needs. The information on this page and on the site is for educational purposes only. For diagnosis, prevention, or treatment of medical conditions, consult a physician."]
        </p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1920 200"
         fill="rgb(var(--app-bg-color))"
         transform="scale(1, 1)">
        <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
    </svg>
</div>

<!-- Contact Us Start -->
<section id="contact-as" style="position: relative">
    <div class="d-flex justify-content-center">
        <div style="width: 25%">
            <img src="/files//home/focus/home-focus-image-01.webp"
                 alt=""
                 style="width: 100%" />
        </div>
        <form asp-controller="Skin" asp-action="ContactUs" method="post" style="width: 65%; padding: 0 0 0 25px">
            <partial name="_ContactUsPartial" />
        </form>
    </div>
</section>
<!-- Contact Us End -->

<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 1920 200"
     fill="rgb(var(--app-bg-secondary))"
     transform="scale(-1, 1)">
    <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
</svg>

@section Scripts {
    <!-- Validation form fields on client -->
    <partial name="_ValidationScriptsPartial" />

    <!-- Custom validation for the form -->
    <script src="~/js/customValidations.js"></script>

}

