@model AddReviewDTO
@{
}
<form asp-controller="Details" asp-action="AddReview" method="post" enctype="multipart/form-data"
      id="comment-product">
    <input asp-for="@Model.ProductId" value="@Model.ProductId" hidden />
    <div class="container p-5 my-3 border rounded text-left w-75">
        <div class="d-flex align-items-center mb-4">
            <img src="@Model.ProductImage"
                 height="70px"
                 width="70px"
                 style="object-fit: cover"
                 alt="" />
            <p class="ms-5">@Model.ProductName</p>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label asp-for="@Model.AuthorName" class="form-label small">Име* (това се появява публично)</label>
                <input type="text"
                       asp-for="@Model.AuthorName"
                       class="form-control"
                       aria-required="true"
                       value="@Model.AuthorName" 
                       disabled />
                <span asp-validation-for="@Model.AuthorName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="@Model.Email" class="form-label small">Имейл* (това се появява публично)</label>
                <input type="email"
                       asp-for="@Model.Email"
                       class="form-control"
                       aria-required="true"
                       value="@Model.Email" 
                       disabled />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
        </div>
        <label asp-for="@Model.Stars" class="form-label small">Оцени*</label>
        <div class="row mb-3">
            <div asp-for="" id="star-rating" class="d-flex fs-3" style="color: gold">
                <input asp-for="@Model.Stars[0]" type="checkbox" hidden />

                <input asp-for="@Model.Stars[1]" type="checkbox" hidden />
                <label asp-for="@Model.Stars[1]"><i class="fa-regular fa-star"></i></label>
                <input asp-for="@Model.Stars[2]" type="checkbox" hidden />
                <label asp-for="@Model.Stars[2]"><i class="fa-regular fa-star"></i></label>
                <input asp-for="@Model.Stars[3]" type="checkbox" hidden />
                <label asp-for="@Model.Stars[3]"><i class="fa-regular fa-star"></i></label>
                <input asp-for="@Model.Stars[4]" type="checkbox" hidden />
                <label asp-for="@Model.Stars[4]"><i class="fa-regular fa-star"></i></label>
                <input asp-for="@Model.Stars[5]" type="checkbox" hidden />
                <label asp-for="@Model.Stars[5]"><i class="fa-regular fa-star"></i></label>

                <span asp-validation-for="@Model.Stars" class="text-danger"></span>

            </div>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Title" class="form-label small">Заглавие</label>
            <input asp-for="@Model.Title"
                   type="text"
                   class="form-control"
                   aria-required="true" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Comment" class="form-label small">Напиши своя отзив тук ...</label>
            <textarea asp-for="@Model.Comment"
                      class="form-control"
                      aria-required="true"
                      rows="5"></textarea>
            <span asp-validation-for="@Model.Comment" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <input for id="file-upload-1"
                   type="file"
                   class="form-control"
                   name="attachment"
                   accept="image/*, .pdf, .doc, .docx"
                   style="display: none" />
            <label for="file-upload-1"
                   class="btn btn-image d-flex justify-content-center align-items-center m-3">
                +
            </label>

            <input id="file-upload-2"
                   type="file"
                   class="form-control"
                   name="attachment"
                   accept="image/*, .pdf, .doc, .docx"
                   style="display: none" />
            <label for="file-upload-2"
                   class="btn btn-image d-flex justify-content-center align-items-center m-3">
                +
            </label>
            <input id="file-upload-3"
                   type="file"
                   class="form-control"
                   name="attachment"
                   accept="image/*, .pdf, .doc, .docx"
                   style="display: none" />
            <label for="file-upload-3"
                   class="btn btn-image d-flex justify-content-center align-items-center m-3">
                +
            </label>
        </div>
        <div class="d-flex justify-content-end">
            <a asp-controller="Details" asp-action="Index" asp-route-id="@Model.ProductId" id="cancel-comment" class="btn btn-lg btn-inverce">Отказ</a>
            <button type="submit" class="btn btn-lg ms-3">Публикуване</button>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/addReview.js"></script>
}