@model DetailsDTO
@{
    ViewData["Title"] = "Details";
}
@section Styles {
    <link rel="stylesheet" href="~/css/details.css" />
    <link rel="stylesheet" href="~/css/carousel-products.css" />
}

<!-- Single Product Start -->
<div class="d-flex justify-content-end mt-4">
    <div class="col-5">
        <!-- Carousel Details Start-->
        <div id="carousel-details" class="carousel slide carousel-fade">
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                @foreach (var image in Model.Images)
                {
                    if (image.IsVideo)
                    {
                        <div class="carousel-item @(image == Model.Images[0] ? "active" : "")">
                            <video controls
                                   width="440"
                                   height="500"
                                   style="width: 100%; object-fit: cover">
                                    <source src="@image.ImagePath" type="video/mp4" />
                            </video>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item @(image == Model.Images[0] ? "active" : "")">
                            <img src="@image.ImagePath"
                                 width="440"
                                 height="500"
                                 style="width: 100%; object-fit: cover"
                                 alt="" />
                        </div>
                    }
                }
            </div>

            <!-- Custom indicators -->
            <div class="carousel-indicators d-flex justify-content-center mt-2">
                @foreach (var image in Model.Images)
                {
                    if (image.IsVideo)
                    {
                        <video 
                            data-bs-target="#carousel-details" 
                            data-bs-slide-to="@(Model.Images.IndexOf(image))">
                            <source src="@image.ImagePath"
                                    type="video/mp4"
                                    class="@(image == Model.Images[0] ? "active" : "")" />
                        </video>
                    }
                    else
                    {
                        <img src="@image.ImagePath"
                             data-bs-target="#carousel-details"
                             data-bs-slide-to="@(Model.Images.IndexOf(image))"
                             class="@(image == Model.Images[0] ? "active" : "")" />
                    }
                }

            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carousel-details"
                    data-bs-slide="prev"
                    style="top: auto; bottom: 50%; transform: translateY(50%)">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carousel-details"
                    data-bs-slide="next"
                    style="top: auto; bottom: 50%; transform: translateY(50%)">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <!-- Carousel Details End-->
    </div>
    <div class="col-6 px-5">
        <h1 class="h3 mb-5">@Model.Name</h1>
        <div class="container px-0 py-4">
            <p class="fs-5">Цена: @Model.Price лв</p>
        </div>
        <div class="container px-0 py-4">
            <div class="row align-items-center">
                <div class="col-auto">
                    <p class="fs-5">Тегло: @Model.Weight</p>
                </div>

            </div>
        </div>


        <form asp-controller="Details" asp-action="AddToCart" asp-route-id="@Model.Id" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="container px-0 py-4">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="fs-5">Количество :</span>
                    </div>
                    <div class="col p-0">
                        <div class="quantity-input">
                            <input asp-for="@Model.Quantity" type="number" class="form-control fs-5 w-auto"
                                   value="1" min="1" max="999" display: flex; align-items:
                                   center; />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container px-0 py-4">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <button type="submit" class="btn">
                             <i class="fa fa-shopping-bag me-2"></i> Добави
                        </button>
                    </div>
                    <div class="col p-0 mx-5" style="color: rgb(var(--app-btn-bg))">
                        @if (Model.IsWish)
                        {
                            <a asp-controller="Products" asp-action="RemoveFromWish" asp-route-id="@Model.Id"
                               method="post"
                               class="nav-link fs-3"
                               style="color: rgb(var(--app-btn-bg))">
                                <i class="fa fa-heart"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Products" asp-action="AddToWish" asp-route-id="@Model.Id"
                               method="post"
                               class="nav-link fs-3"
                               style="color: rgb(var(--app-btn-bg))">
                                <i class="far fa-heart"></i>
                            </a>
                        }
                    </div>
                    @*                 <div class="col-auto">
                    <a href="#"
                    class="btn btn-lg"
                    style="float: left"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#shopping-bag"><i class="fa fa-shopping-bag me-2"></i> Добави</a>
                    </div>
                    <div class="col p-0 mx-5" style="color: rgb(var(--app-btn-bg))">
                    <a id="heart-icon"
                    href="#"
                    class="nav-link fs-3"
                    style="color: rgb(var(--app-btn-bg))">
                    <i class="far fa-heart" style="display: block"></i>
                    <i class="fa fa-heart" style="display: none"></i>
                    </a>
                    </div> *@
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Single Product End -->
<!-- Product Description Start -->
<div class="d-flex justify-content-end">
    <div class="col-5">
        <p>
            Част от лимитирана колекция празнични продукти, които може да
            закупите поотделно или като подаръчен комплект. 💝
        </p>
        <p>
            Захарен скраб за тяло - натурален, био и ръчно изработен, с аромат
            на топли и уютни празници - естествен шоколадов аромат и леко
            цитрусов от етерично масло сладък портокал.
        </p>
        <p>
            💛Този сладък скраб за тяло в два цвята е домашно приготвен с любов,
            масло от гроздови семки и какаово масло. Цвета му е натуралне от
            червена мика (минерален пигмент). Този скраб е прекрасен подарък за
            всеки, който се нуждае от малко повече релаксиращи моменти и грижа
            за себе си този сезон.
        </p>
        <p>Обогатен с витамин Е.</p>
        <p class="mb-0">100% натурален</p>
        <p class="mb-0">86% от България</p>
        <p class="mb-0">13% Био</p>
    </div>
    <div class="col-6 px-5">
        <ul id="accordion" class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="nav-link toggle-sign fs-6"
                   data-bs-toggle="collapse"
                   href="#collapse1">
                    <div class="d-flex justify-content-between">
                        <div>ЗА СЪСТАВКИТЕ</div>
                        <span>+</span>
                    </div>
                </a>

                <div id="collapse1" class="collapse" data-bs-parent="#accordion">
                    <div class="mt-4">
                        <p>
                            <strong>Какаовото масло* </strong>
                            - придава лек и естествен шоколадов аромат и предпазва и
                            подхранва кожата.
                        </p>
                        <p>
                            <strong>Етеричното масло от сладък </strong>
                            - портокал придават лек празничен аромат*.
                        </p>
                        <p>
                            <strong>Масло от гроздови семки </strong>- подхранва кожата.
                            То е леко, некомедогенно и попива бързо.
                        </p>
                        <p>
                            <strong>Стеаринова киселина </strong>- наситена мастна
                            'киселина' която в природата се намира в много масла. В
                            натуралния състав на какаовото масло е 24-37%, а в масло от
                            шеа / карите е между 20-50%.
                        </p>
                        <p>
                            <strong>Витамин Е </strong>- натурален антиоксидант, който
                            предпазва и защитава кожата от свободни радикали, процеси на
                            оксидация и вредни влияния от околната среда.
                        </p>
                        <p>*Био</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <a class="nav-link toggle-sign fs-6"
                   data-bs-toggle="collapse"
                   href="#collapse2">
                    <div class="d-flex justify-content-between">
                        <div>УПОТРЕБА</div>
                        <span>+</span>
                    </div>
                </a>
                <div id="collapse2" class="collapse" data-bs-parent="#accordion">
                    <div class="mt-4">
                        <p>
                            Изцяло натурален, може да използвате 1-2 пъти седмично,
                            когато желаете нежно да ексфолирате кожата и да я направите
                            по-мека и гладка.
                        </p>
                        <p>
                            Използвайте с чисти ръце върху чиста и мокра кожа. Нежно
                            масажирайте за ексфолиращ ефект. Изплакнете.
                        </p>
                        <p>
                            Само за външна употреба. Да се пази от достъп на деца. Не
                            използвайте при алергия към някоя от съставките.
                            Съхранявайте добре затворено, защитено от пряка слънчева
                            светлина.
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <a class="nav-link toggle-sign fs-6"
                   data-bs-toggle="collapse"
                   href="#collapse3">
                    <div class="d-flex justify-content-between">
                        <div>ИЗПРАЩАНЕ И ДОСТАВКА</div>
                        <span>+</span>
                    </div>
                </a>
                <div id="collapse3" class="collapse" data-bs-parent="#accordion">
                    <div class="mt-4">
                        <p>
                            След като е посочен адрес за доставка или куриерски офис на
                            Еконт или Спиди в полетата за адрес при поръчка, продуктите
                            се опаковат внимателно в рециклирани картонена кутийка и
                            хартиен пълнеж за уплътнение и се изпращат с доставка с
                            преглед.
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <a class="nav-link toggle-sign fs-6"
                   data-bs-toggle="collapse"
                   href="#collapse4">
                    <div class="d-flex justify-content-between">
                        <div>СЪСТАВ, INCI</div>
                        <span>+</span>
                    </div>
                </a>
                <div id="collapse4" class="collapse" data-bs-parent="#accordion">
                    <div class="mt-4">
                        <p>
                            Sucrose (Захар), Vitis Vinifera Seed Oil (Масло от гроздови
                            семки), Theobroma Cacao Seed Butter (Какаово масло)*,
                            Stearic Acid , Citrus Sinensis (Портокал) Peel Oil*,
                            Limonene**, Linalool**, Citral**, Benzyl Alcohol,
                            Ethylhexylglycerin, Tocopherol (Vit E), Mica***, CI
                            77491***. *Био **Компоненти на етерични масла ***Минерални
                            пигменти От България 81,4% Био 14,5%
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Product Description End -->
<!-- Product Reviews Start -->
<form action="">
    <div class="text-center">
        <p class="fs-5">Все още няма отзиви</p>
        <p>Споделете вашите мисли. Бъдете първият, който ще остави отзив.</p>
        <button id="leave-comment" class="btn btn-lg">Оставете отзив</button>
    </div>
    <div id="comment-product"
         class="container p-5 mt-3 border rounded text-left w-50"
         style="display: none">
        <div class="row mb-3">
            <div class="col">
                <label for="userName" class="form-label small">Име* (това се появява публично)</label>
                <input type="text"
                       for="userName"
                       class="form-control"
                       aria-required="true"
                       name="userName" />
            </div>
            <div class="col">
                <label for="email" class="form-label small">Имейл* (това се появява публично)</label>
                <input type="email"
                       class="form-control"
                       aria-required="true"
                       name="email" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="rate" class="form-label small">Добавяне на отзив*</label>
            <div id="star-rating" class="d-flex fs-3" style="color: gold">
                <input type="radio" id="star1" name="rate" value="1" hidden />
                <label for="star1"><i class="fa-regular fa-star"></i></label>
                <input type="radio" id="star2" name="rate" value="2" hidden />
                <label for="star2"><i class="fa-regular fa-star"></i></label>
                <input type="radio" id="star3" name="rate" value="3" hidden />
                <label for="star3"><i class="fa-regular fa-star"></i></label>
                <input type="radio" id="star4" name="rate" value="4" hidden />
                <label for="star4"><i class="fa-regular fa-star"></i></label>
                <input type="radio" id="star5" name="rate" value="5" hidden />
                <label for="star5"><i class="fa-regular fa-star"></i></label>
            </div>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label small">Заглавие на отзив*</label>
            <input type="text"
                   class="form-control"
                   aria-required="true"
                   name="title" />
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label small">Отзив*</label>
            <textarea class="form-control"
                      aria-required="true"
                      rows="5"
                      name="comment"></textarea>
        </div>
        <div class="row mb-3">
            <input id="file-upload-1"
                   type="file"
                   class="form-control"
                   name="attachment"
                   accept="image/*, .pdf, .doc, .docx"
                   style="display: none" />
            <label for="file-upload-1"
                   class="btn btn-image d-flex justify-content-center align-items-center m-3">
                +
            </label>
            <input id="file-upload-2"
                   type="file"
                   class="form-control"
                   name="attachment"
                   accept="image/*, .pdf, .doc, .docx"
                   style="display: none" />
            <label for="file-upload-2"
                   class="btn btn-image d-flex justify-content-center align-items-center m-3">
                +
            </label>
            <input id="file-upload-3"
                   type="file"
                   class="form-control"
                   name="attachment"
                   accept="image/*, .pdf, .doc, .docx"
                   style="display: none" />
            <label for="file-upload-3"
                   class="btn btn-image d-flex justify-content-center align-items-center m-3">
                +
            </label>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-lg btn-inverce">Отказ</button>
            <button type="submit" class="btn btn-lg ms-3">Публикуване</button>
        </div>
    </div>
</form>
<!-- Product Reviews End -->
<!-- Similar Products Start -->
<div id="carousel-products"></div>
<!-- Similar Products End -->
@section Scripts {
    <script src="~/js/details.js"></script>
    <script src="~/js/carousel-products.js"></script>
}